.jumbotron {
	background: linear-gradient(to bottom right, #256294, #FE1E1E); 
	border-radius: 0px;
	margin-bottom: 10px;
}

.text-col {
	padding: 120px;
	background-color: #565656;
	border: 3px solid black;
	/*margin: 10px;*/
}

.container-fluid {
	padding: 0;
}

h2 {
	color: #8C699D;
}

p {
	color: white;
}

.quad {
	background-image: url("../static/images/quad.jpg");
	background-size: cover;
}

.high-falls {
	background-image: url("../static/images/high-falls.jpg");
	background-size: cover;
}

.eastman {
	background-image: url("../static/images/eastman.jpg");
	background-size: cover;
}

footer {
	padding: 30px;
	background-color: #8C699D;      
}

footer li a {
	color: #256294;
}

h1 {
	text-align: center;
}

.vertical-gutter {
	margin: 10px ;
}

.navbar {
	background color: #565656;
}