{% extends 'base.html' %}
{% block content %}
    <!-- Page Content -->
    <main class="container-fluid">
    
      <section class="jumbotron">
        <div class="container">
          <h1 class="display-3">Welcome</h1>
          <p class="lead"></p>
        </div>
      </section>

      <section class="row vertical-gutter">
          <div class="col-7 high-falls">
          </div>
          <div class="col-5 text-right text-col">
            <h2>About</h2>
            <p>My name is Brandon Lopez, I am currently a rising sophmore at Success Academy High School of Liberal Arts. I love anything to do with STEM as I find it very interesting and also have a passion for sports.</p>
          </div>
        </div>
      </section>

      <section class="row vertical-gutter">
        <div class="col-7 quad">
        </div>
        <div class="col-5 text-right text-col">
          <h2>Contact</h2>
          <p>Phone number: 917-744-1498
              Adress: 503 West 173st Apt 3
          </p>
        </div>
      </section>

      <section class="row vertical-gutter">
        <div class="col-7 eastman">
        </div>
        <div class="col-5 text-right text-col">
          <h2>Photo Gallery</h2>
          <p>Here you will find some pictures of me and what I love</p>
        </div>
      </section> 

      <!-- Footer navigation -->
      <footer class="row">
        <div class="col">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="photo_gallery">Photo Gallery</a>
            </li>
          </ul>
          <p class="text-center">My Website © 2018</p>
        </div>
      </footer>

    </main>
{% endblock %}
